{% extends "base/base.html" %}

{% block title %} Create a Post {% endblock %}
{% load crispy_forms_tags %}
{% block topLeft %}
    <h2>Create a new post</h2>
{% endblock %}
{% block topRight %}
    <a class="btn btn-primary mt-1" href={% url 'index' %} role="button">Blog list</a> 
{% endblock %}

{% block mainContent %}
    <div class="jumbotron">
        <form method="post">    
            {% csrf_token %}
            <div class="mb-3">
                <label for="post_title" class="form-label">Post Name</label>
                <input type="text"  name="post_title" class="form-control" id="post_title">
            </div>
            <div class="mb-3">
                <label for="post_detail" class="form-label">Post Details</label>
                <textarea id="post_detail" class="form-control" name="post_detail" rows="4" cols="50" id="post_detail"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>  
    </div>
{% endblock %}