{% extends "base/base.html" %}

{% block title %} Edit Page {% endblock %}
{% load crispy_forms_tags %}
{% block topLeft %}
    <h2>Update post</h2>
{% endblock %}
{% block topRight %}
    <a class="btn btn-primary mt-1" href={% url 'index' %} role="button">Blog list</a>
{% endblock %}

{% block mainContent %}
    <div class="jumbotron">
        <form method="post">    
            {% csrf_token %}
            <div class="mb-3">
                <label for="post_title" class="form-label">Post Name</label>
                <input type="text"  name="post_title" class="form-control" id="post_title" value="{{ post.title }}">
            </div>
            <div class="mb-3">
                <label for="post_detail" class="form-label">Post Details</label>
                <textarea id="post_detail" class="form-control" name="post_detail" rows="4" cols="50" id="post_detail">{{post.detail}}</textarea>
            </div>
            <input type="hidden"  name="post_id" class="form-control" id="post_id" value="{{ post.id }}">
            <button type="submit" class="btn btn-primary">Update</button>
        </form>  
    </div>
{% endblock %}